node_modules
dist
.env
.DS_Store
npm-debug.log
yarn-error.log
.vscode
.idea
*.log
*.tsbuildinfo
coverage
*.env
*.local
*.lock
*.swp
*.swo
*.tmp
*.bak
*.orig
*.swp
/scripts
/src/generated/prisma
/src/logger/logs
logs